<p id="notice"><%= notice %></p>

<h1>Listing Service Requests</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Service Request Id</th>
      <th>Admin service city</th>
      <th>Admin service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_requests.each do |service_request| %>
      <tr>
        <td><%= service_request.id %></td>
        <td><%= service_request.admin_service_city.city_name %></td>
        <td><%= service_request.admin_service.service_name %></td>
        <td><%= link_to 'Show', service_request %></td>
        <td><%= link_to 'Edit', edit_service_request_path(service_request) %></td>
        <td><%= link_to 'Destroy', service_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service request', new_service_request_path %>
