<%= form_for(@admin_service) do |f| %>
  <% if @admin_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_service.errors.count, "error") %> prohibited this admin_service from being saved:</h2>

      <ul>
      <% @admin_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :service_code, :placeholder => "2 Character long service code" %>
  </div>
  <div class="form-group">
    <%= f.text_field :service_name, :placeholder => "Service full name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :service_category_code, :placeholder => "Service category code (Optional)" %>
  </div>
  <div class="form-group">
    <%= f.text_field :service_desc, :placeholder => "Service description" %>
  </div>
  <div class="actions">
    <%= f.submit "Create", :class => "btn btn-success"%>
  </div>
<% end %>
