<p id="notice"><%= notice %></p>

<h1>Listing Partner Profiles</h1>

<div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Admin service city</th>
      <th>Driving licence number</th>
      <th>Driving license state</th>
      <th>Pan number</th>
      <th>Adhaar number</th>
      <th>Passport number</th>
      <th>Passport issue city</th>
      <th>Admin service</th>
      <th>City</th>
      <th>State</th>
      <th>Pin code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partner_profiles.each do |partner_profile| %>
      <tr>
        <td><%= partner_profile.admin_service_city_id %></td>
        <td><%= partner_profile.driving_licence_number %></td>
        <td><%= partner_profile.driving_license_state %></td>
        <td><%= partner_profile.pan_number %></td>
        <td><%= partner_profile.adhaar_number %></td>
        <td><%= partner_profile.passport_number %></td>
        <td><%= partner_profile.passport_issue_city %></td>
        <td><%= partner_profile.admin_service_id %></td>
        <td><%= partner_profile.city %></td>
        <td><%= partner_profile.state %></td>
        <td><%= partner_profile.pin_code %></td>
        <td><%= link_to 'Show', partner_profile %></td>
        <td><%= link_to 'Edit', edit_partner_profile_path(partner_profile) %></td>
        <td><%= link_to 'Destroy', partner_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partner profile', new_partner_profile_path %>
</div>