<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @partner_profile.user_id %>
</p>

<p>
  <strong>Admin service city:</strong>
  <%= @partner_profile.admin_service_city_id %>
</p>

<p>
  <strong>Driving licence number:</strong>
  <%= @partner_profile.driving_licence_number %>
</p>

<p>
  <strong>Driving license state:</strong>
  <%= @partner_profile.driving_license_state %>
</p>

<p>
  <strong>Pan number:</strong>
  <%= @partner_profile.pan_number %>
</p>

<p>
  <strong>Adhaar number:</strong>
  <%= @partner_profile.adhaar_number %>
</p>

<p>
  <strong>Passport number:</strong>
  <%= @partner_profile.passport_number %>
</p>

<p>
  <strong>Passport issue city:</strong>
  <%= @partner_profile.passport_issue_city %>
</p>

<p>
  <strong>Admin service:</strong>
  <%= @partner_profile.admin_service_id %>
</p>

<p>
  <strong>Approval code:</strong>
  <%= @partner_profile.approval_code %>
</p>

<p>
  <strong>Approved by:</strong>
  <%= @partner_profile.approved_by %>
</p>

<p>
  <strong>Approved timestamp:</strong>
  <%= @partner_profile.approved_timestamp %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @partner_profile.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @partner_profile.address_line2 %>
</p>

<p>
  <strong>Address line3:</strong>
  <%= @partner_profile.address_line3 %>
</p>

<p>
  <strong>City:</strong>
  <%= @partner_profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @partner_profile.state %>
</p>

<p>
  <strong>Pin code:</strong>
  <%= @partner_profile.pin_code %>
</p>

<%= link_to 'Edit', edit_partner_profile_path(@partner_profile) %> |
<%= link_to 'Back', partner_profiles_path %>
