<h1><%="Welcome #{session[:user_name]}"%></h1>
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 ">

  <div class="col-lg-6">
    <div class="w3-card-4">

      <header class="w3-container w3-blue-grey">
        <h2 align="center">CUSTOMER</h2>
      </header>

      <div class="w3-container">
        <h2>I am looking for professional service:<br></h2> <p>Please tell us what you need. Our professionals will contact you shortly and get your work done. Once your order is complete, please
        share a review. Your review and feedback will help us hire better professionals for customers like you.</p>
        <%=link_to "CREATE A NEW ORDER", new_service_request_path, :class => "btn btn-info btn-set"%>
        <%=link_to "VIEW ORDER HISTORY", service_requests_path, :class => "btn btn-info btn-set"%>
      </div>
    </div>
  </div>

  <div class="col-lg-6 ">
    <div class="w3-card-4">

      <header class="w3-container w3-teal">
        <h2 align="center">PARTNER</h2>
      </header>

      <div class="w3-container">
        <h2>I am a professional service provider:<br></h2> <p>Please complete your profile and tell us more about what kind of service you provide. Our operations team will reach out to you
        within next 48 hours and help you get started. Please feel free to ask any questions you may have.
      </p>
        <% if @partner_profile_to_update.nil? %>
          <%=link_to "COMPLETE MY PROFILE", new_partner_profile_path, :class => "btn btn-info btn-set" %>
        <% else %>
          <%=link_to "UPDATE MY PROFILE", edit_partner_profile_url(@partner_profile_to_update), :class => "btn btn-info btn-set" %>
        <% end %>
        <%=link_to "GO TO DASHBOARD", login_path, :class => "btn btn-info btn-set"%>
      </div>

    </div>
  </div>
</div>