
<%= form_for(@admin_service_city) do |f| %>
  <% if @admin_service_city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_service_city.errors.count, "error") %> prohibited this admin_service_city from being saved:</h2>

      <ul>
      <% @admin_service_city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :city_airport_code, :placeholder => "Airport Code e,g. HYD"%>
  </div>
  <div class="form-group">
    <%= f.text_field :city_name, :placeholder => "City Name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :state_code, :placeholder => "State Code" %>
  </div>
  <div class="form-group">
    <%= f.text_field :state_name, :placeholder => "State Name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :country, :placeholder => "Country" %>
  </div>
  <div class="form-group">
    <%= f.text_field :start_pin_code, :placeholder => "Start PIN Code" %>
  </div>
  <div class="form-group">
    <%= f.text_field :end_pin_code, :placeholder => "End PIN Code" %>
  </div>
  <div class="actions">
    <%= f.submit "Create", :class => "btn btn-success" %>
  </div>
<% end %>
