<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Prolancer" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap", "font-awesome.min", "flexslider", "style" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top " id="menu">
  <div class="container">
    <div>
      <a class="navbar-brand">ProLancer</a class="navbar-brand">
    </div>
    <div class="navbar-collapse collapse move-me">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "HOW IT WORKS", welcome_how_it_works_path %></li>
        <li><%= if not session[:user_id].nil? then
                  link_to "SIGNOUT", sessions_destroy_path
                else
                  link_to "SIGNIN", login_path
                end %></li>
      </ul>
    </div>
  </div>
</div>
<div class="home-sec">
  <div class="overlay">
    <div class="container">
      <div class="row text-center ">
        <div class="flexslider set-flexi" id="main-section">
          <ul class="slides move-me">
            <h2><%= if current_page?(root_path) then
                      'Welcome to'
                    end %></h2>
            <!-- Slider 01 -->
            <li>
              <h1>ProLancer</h1>
              <h2>We bring professionals to your finger tip.</h2>
            </li>
            <!-- End Slider 01 -->
            <!-- Slider 02 -->
            <li>
              <h1>ProLancer</h1>
              <h2>India's most reliable marketplace for all services.</h2>
            </li>
            <!-- End Slider 03 -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="website-body">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
</div>
<div id="footer">
  &copy 2016 prolancer.co.in | All Rights Reserved |
  <a href="http://prolancer.co.in" style="color: #fff" target="_blank">Designed by : prolancer.co.in</a>
</div>
<!-- /container -->
<!--  Jquery Core Script -->
<%= javascript_include_tag "jquery-1.10.2", "bootstrap", "jquery.flexslider", "jquery.flexslider", "scrollReveal", "jquery.easing.min", "custom" %>
</body>
</html>
